p {font-family: 'Times New Roman';
  color: green;}

h1, h2{font-family: 'Courier New', Courier, monospace;
  color: red;}

b {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

a:visited{color:green;}
a:link{color: red;}

.btn-submit:hover {background-color:red;}
.btn-submit:active {background-color: green;}

ul {list-style-type: square;}
ol {list-style: lower-roman;}

tr:nth-child(even) {background-color:lightgray;}
tr:hover {background-color: lightblue;}